@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#StyleConnexion {
     -fx-background-image: url("back.jpg");
}

#PasswordStyle{
	 -fx-background-image: url("back.jpg");
}

.button {
    -fx-background-color: 
        #090a0c,
        linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
        linear-gradient(#20262b, #191d22),
        radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 15px;
    -fx-padding: 10 20 10 20;
}

.button:hover {
    -fx-background-color: #A886A8;
}

.label {
	-fx-font-size: 16px;
	-fx-text-fill: #fff;
}

#titre {
   -fx-font-size: 28px;
   font-family: 'Pacifico', cursive;
   -fx-text-fill: #EAF6F5;
}

#OngletConnection{
	-fx-font-size: 16px;
	-fx-text-fill: #fff;
	-fx-background-color: #7F8A89;
}

#OngletNouveauCompte{
	-fx-font-size: 16px;
	-fx-text-fill: #fff;
	-fx-background-color: #7F8A89;
}
