#panPrincipal{
	-fx-background-color : #DEF1FB;
}

#paneItineraire{
	-fx-background-color : #DEF1FB;
	-fx-font-size: 15px;
}


#validerIteneraire:hover{
	-fx-background-color : #C6EFC6;
}

#bouttonSattellite {
	-fx-background-color : #C6EFC6;
}

#panRegion{
    -fx-background-color: linear-gradient(to bottom, #002C9E, #DEF1FB);
}